html {
    box-sizing: border-box;
}
 *, *:before, *:after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    display: none;
}

.smartPhone-container {
    display: none;
}

.smartPhone {
    background: linear-gradient(90deg, rgba(221,219,27,1) 0%, rgba(187,219,50,1) 15%, rgba(175,219,57,1) 100%);
}

.smartPhone-p {
    margin-top: 2vh;
}

.device {
    animation: turnDevice 2.25s infinite;
    height: auto;
    margin-top: 2vh;
    max-width: 5rem;
}

@keyframes turnDevice {
    0% { transform: rotate(0deg); }
    100%   { transform: rotate(90deg); }
}

.wrapper {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

section {
    display: flex;
    font-family: 'PT Mono', monospace;
    height: 100vh;
    min-width: 100vw;
    scroll-snap-align: start;
}

.wrapper section:nth-child(1) {
    background: linear-gradient(90deg, rgba(221,219,27,1) 0%, rgba(187,219,50,1) 15%, rgba(175,219,57,1) 100%);
}
.wrapper section:nth-child(2) {
    background: linear-gradient(90deg, rgba(221,219,27,1) 0%, rgba(187,219,50,1) 15%, rgba(175,219,57,1) 100%);
}
.wrapper section:nth-child(3) {
    background: linear-gradient(90deg, rgba(221,219,27,1) 0%, rgba(187,219,50,1) 15%, rgba(175,219,57,1) 100%);
}
.wrapper section:nth-child(4) {
    background: linear-gradient(90deg, rgba(221,219,27,1) 0%, rgba(187,219,50,1) 15%, rgba(175,219,57,1) 100%);
}

.left {
    display: block;
    height: 100vh;
    min-width: clamp(8vh, 10vh, 15vh);
}

.left__cv, .left__mail, .left__linkedin, .left__github{
    height: auto;
    margin: 4rem .25rem;
    max-width: 4.25rem;
}

.left__cv:hover, .left__mail:hover, .left__linkedin:hover, .left__github:hover {
    filter: invert(100%);
}


.left__github {
    margin-bottom: 0;
    margin-top: 4rem;
}


.middle {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.aboutMe {
    background: url(images/leftBackground.svg);
    color: rgb(235, 235, 235);
    padding-left: 7.5vh;
    padding-top: 7.5vh;
}

.aboutMe__text-top {
    overflow: hidden;    
}

.aboutMe__myName {
    animation: showName 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    display: block;
    font-size: clamp(4.27rem, 4.45rem + 4.26vw, 6.28rem);
}

@keyframes showName {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}

.small {
    font-size: 4.25rem;
}

.aboutMe__line {
    border-bottom: .4rem solid rgba(187,219,50,1);
    margin-bottom: 1rem;
    margin-right: 7.2vh;
    width: 77vh;
}

.aboutMe__position {
    animation: showPosition 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    font-size: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
    font-size: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
    transform: translate(0, -100%);
}

@keyframes showPosition {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}

.aboutMe__phrase {
    font-size: clamp(4.07rem, 4.01rem + 3.29vw, 3.93rem);
    opacity: 0;
    padding-top: 3rem;
}

.aboutMe__phrase:hover {
    animation: phraseHidden 1.5s linear infinite;
    background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%));
    background-size: auto auto;
	background-clip: 1rem;
	background-size: 200% auto;
    display: inline-block;
    opacity: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes phraseHidden {
	to {
		background-position: 200% center;
	}
}

.aboutMe__activities {
    font-size: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
    padding-bottom: 1rem;
    padding-top: 3.25rem;
}

.aboutMe__myName, .aboutMe__activities, .aboutMe__position {
    background-clip: text;
    background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.right {
    display: flex;
    height: 100vh;
    width: 100vh;
    background:  url(images/houseOutside.png) ;
    background-position: right;
}

.wind--A, .wind--B {
    position: absolute;
    height: 100px;
    width: 100vh;
    background: url(images/breeze.svg) no-repeat;
    background-position: right;
    opacity: 0%;
}

.wind--A {
    animation: breeze--A 4s infinite;
}

@keyframes breeze--A {
    0%  {left: 20vh; opacity: 100%;}
    100% {left: 103vh; opacity: 100%;}
}

.wind--B {
    animation: breeze--B 3.75s infinite;
}

@keyframes breeze--B {
    0%  {left: 25vh; top: 15vh;opacity: 100%;}
    100% {left: 95vh; top: 15vh;opacity: 100%;}
}

.bigLeave, .smallLeave-fall, .smallLeave-fall--B {
    position: absolute;
    height: 100px;
    width: 100vh;
    opacity: 0%;
}

.bigLeave {
    background: url(images/bigLeave.png) no-repeat ;
    background-position: right;
    animation: bigLeave 5s infinite;
}

@keyframes bigLeave {
    0%  {left: 50%; top: 35vh;opacity: 100%;transform: rotateZ(180deg);}
    50% {left: 80%; top: 40vh;opacity: 100%;transform: rotateZ(-180deg);}
    100% {left: 100%; top: 42vh;opacity: 100%;transform: rotateZ(-360deg);}
}

.smallLeave-fall {
    background: url(images/smallLeave.png) no-repeat ;
    background-position: right;
    animation: smallLeaveFall 5s infinite;
}

@keyframes smallLeaveFall {
    0%  {left: 40vh; top: 0vh;opacity: 100%;transform:perspective(300rem) rotateY(1deg);}
    100% {left: 80vh; top: 85vh;opacity: 100%;transform:perspective(150rem) rotateY(75deg);}
}

.smallLeave-fall--B {
    background: url(images/smallLeave.png) no-repeat ;
    background-position: right;
    animation: smallLeaveFallB 4s infinite;
}

@keyframes smallLeaveFallB {
    0%  {left: 105vh; top: 0vh;opacity: 100%;}
    100%  {left: 104vh; top: 50vh;opacity: 100%;transform: rotate(360deg);}
}

.meowText {
    max-width: 10%;
    position: absolute;
    transform: rotate(-35deg);
    top: 40%;
    left: 82%;
}

.helpCat {
    animation: bounceText .5s ease infinite alternate;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border: 2px solid #f69c55;
    border-radius: 30px;
    display: flex;
    font-size: 1.1rem;
    height: 8.5vh;
    justify-content: center;
    margin: 0 auto;
    margin-top: 85vh;
    width: 55vh;
}

@keyframes bounceText {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-1.5vh); }
    100% { transform: translateY(0); }
}

.helpCat:hover {
    cursor: pointer;
}

.helpCat__text--hidden {
    display: none;
}

.helpCat__text, .helpCat__text--hidden{
    margin: auto 0;
    text-align: center;
    user-select: none;
}

.highlightText:hover{
    cursor: pointer;
    color: #f69c55;
    
}

.helpCat__fakeDoor {
    display: none;
    height: 22rem;
    left: 77%;
    position: absolute;
    top: 20vh;
    width: 10rem;
}

.helpCat__fakeDoor:hover {
    background-color: rgba(235, 235, 235, .10);
    cursor: pointer;
}

.section-A--cat {
    background: url(images/cat1.png) no-repeat;
    background-size: contain;
    display: none;
    height: 15vh;
    left: 72%;
    position: absolute;
    top: 54%;
    transform: rotate(-7deg);
    width: 22vh;
}

.section-A--cat2 {
    background: url(images/cat3.png) no-repeat;
    background-size: contain;
    display: none;
    height: 15vh;
    left: 73%;
    position: absolute;
    top: 52%;
    transform: rotate(-6deg);
    width: 22vh;
}



/* Section 2*/

.livingRoom {
    height: 100vh;
    width: 192vh;
    background: url(images/livingRoom2.png) no-repeat;
    background-size: 100% 100%;
}

.btn__goBack, .previous {
    background: url(images/goBack.png) no-repeat;
    background-color: rgb(235, 235, 235);
    background-position:center;
    background-size: 15px 15px;
    border: 2px solid #f69c55;
    border-radius: 30px;
    height: 5vh;
    margin-left: 2.5vh;
    margin-top: 17vh;
    transition: 300ms ease-in-out;
    width: 5vh;
}

.btn__goBack:hover, .previous:hover, .goOn:hover {
    box-shadow: 2.5px 2.5px 2.5px 0px rgba(0,0,0,0.25);
    cursor: pointer;
    color: #f69c55;
    transform: scale(1.25);
}

.window {
    height: 30vh;
    left: 49.45%;
    position: absolute;
    top: 8%;
    width: 35vh;
}

.cloud--A {
    animation: cloudAToRight 45s ease infinite;
    background: url(images/cloud.svg) no-repeat;
    background-size: 200px 100px;
    display: none;
    height: 10rem;
    left: -25%;
    position: absolute;
    width: 10rem;
}

@keyframes cloudAToRight {
    0%  {left: -8.75vh; top: 0vh;opacity: 100%;}
    95%  {left: 16.8vh; top: 0vh;opacity: 100%;}
    100% {left: 16.9vh; top: 0vh;visibility: hidden;}
}

.cloud--B {
    animation: cloudBToRight 20s ease infinite;
    background: url(images/cloud.svg) no-repeat;
    background-size: 200px 100px;
    display: none;
    height: 10rem;
    left: -25%;
    position: absolute;
    width: 10rem;
}

@keyframes cloudBToRight {
    0%  {left: -8.75vh; top: 10vh;opacity: 100%;}
    95%  {left: 16.8vh; top: 10vh;opacity: 100%;}
    100% {left: 16.9vh; top: 10vh;visibility: hidden;}
}

.clouds {
    animation: cloudsToRight 15s ease infinite;
    background: url(images/clouds.svg) no-repeat;
    background-size: 200px 100px;
    display: none;
    height: 10rem;
    left: -25%;
    position: absolute;
    width: 10rem;
}

@keyframes cloudsToRight {
    0%  {left: -8.75vh; top: 13vh;opacity: 100%;}
    95%  {left: 16.8vh; top: 13vh;opacity: 100%;}
    100% {left: 16.9vh; top: 13vh;visibility: hidden;}
}

.bird {
    animation: birdToRight 5s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: url(images/bird.png) no-repeat;
    background-size: 33px 12px;
    display: none;
    height: 3rem;
    left: 0%;
    top: 80%;
    position: absolute;
    width: 3rem;
}

@keyframes birdToRight {
    0%  {left: 0vh; top: 26vh;opacity: 100%;}
    99.9%  {left: 30vh; top: 13vh;opacity: 100%;transform: rotateY(75deg);}
    100% {left: 30vh; top: 13vh;opacity: 0%;}
}

.frameFix--A {
    background: url(images/frameFix2.png) no-repeat;
    background-size: 6px 85px;
    display: none;
    height: 15rem;
    left: 48.6%;
    top: 38%;
    position: absolute;
    width: 15rem;
}

.frameFix--B, .frameFix--C {
    background: url(images/frameFix.png) no-repeat;
    background-size: 10px 80px;
    display: none;
    height: 15rem;
    left: 75%;
    top: -1%;
    position: absolute;
    width: 50rem;
}

.frameFix--C {
    left: 19%;
}

.technologiesPennants {
    background: url(images/hardSkillsPennants.png) no-repeat;
    background-size: 35rem 6rem;
    display: none;
    height: 7rem;
    left: 7%;
    position: absolute;
    top: 2%;
    width: 36rem;
}

.technologiesPennants:hover {
    animation: shakingPennants 2s infinite;
}

@keyframes shakingPennants {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}

.softSkillsPennants {
    background: url(images/softSkillsPennants.png) no-repeat;
    background-size: 28rem 6rem;
    display: none;
    height: 7rem;
    left: 71.5%;
    position: absolute;
    top: 2%;
    width: 29rem;
}

.softSkillsPennants:hover {
    animation: shakingPennants2 2s infinite;
}

@keyframes shakingPennants2 {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}

.softSkillBoard {
    display: none;
    height: 28vh;
    left: 73%;
    position: absolute;
    top: 14%;
    width: 54.5vh;
}

.softSkillBoard:hover {
    background-color: rgba(235, 235, 235, .2);
    cursor: pointer;
}

.helpCat-BowlFood {
    background: url(images/petFood-Empty.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    display: none;
    height: 4rem;
    left: 56.75%;
    position: absolute;
    top: 90%;
    width: 4rem;
}

@keyframes fillFood {
    0% {top: 75%; opacity: 100%;}
    25% {top: 65%; background: url(images/petFood-Middle.png) no-repeat; background-size: 100% 100%; transform: skewY(-7deg);}
    50% {top: 65%; background: url(images/petFood-Full.png) no-repeat; background-size: 100% 100%; transform: skewY(7deg);}
    100% {top: 90%;  background: url(images/petFood-Over.png) no-repeat; background-size: 100% 100%;}
}

.helpCat-food {
    animation: moveToFood 9s ease;
    animation-fill-mode: forwards;
    background: url(images/cat3.png) no-repeat;
    background-size: 100% 100%;
    display: none;
    height: 22vh;
    left: 10%;
    opacity: 0%;
    position: absolute;
    top: 77.5%;
    width: 30vh;
}

@keyframes moveToFood {
    0% {left: 25vh; opacity: 100%;}
    50% {background: url(images/cat2.png) no-repeat; background-size: 100% 100%; opacity: 100%;}
    100% {left: 85.5vh;  background: url(images/cat4.png) no-repeat; background-size: 100% 88%; opacity: 100%;}
}

.helpCat-askingFood {
    background: url(images/cat4.png) no-repeat;
    background-size: 100% 88%;
    display: none;
    height: 22vh;
    left: 45%;
    position: absolute;
    top: 80%;
    width: 30vh;
}

.pointer, .pointer3 {
    animation: pointerMove 2s infinite;
    background: url(images/pointer.png) no-repeat;
    background-size: 100% 100%;
    display: none;
    height: 5vh;
    left: 33%;
    position: absolute;
    top: 35%;
    width: 5vh;
    align-self: end;
}

@keyframes pointerMove {
    0% {left: 77vh; top: 45vh;}
    5% { transform: skewX(0deg); }
    80% { transform: skewX(0deg); }
    85% { transform: skewX(10deg); }
    90% { transform: skewX(-10deg); }
    100% { transform: skewX(10deg); }
}

.pointerOut {
    display: none;
    height: 14rem;
    left: 11%;
    position: absolute;
    top: 15.5%;
    width: 26.5rem;
}

.pointerOut:hover {
    background-color: rgba(235, 235, 235, .10);
    cursor: pointer;
}

.modal {
    background: url(images/hardSkillBoard.png);
    background-size: 100% 100%;
    box-shadow: 0px 10px 100px 50px rgba(0,0,0,0.8);
    height: 85%;
    left: 10%;
    position: absolute;
    top: 7.5%;
    width: 86%;
}

.modal__elements {
    height: 69vh;
    left: 15%;
    position: absolute;
    top: 16%;
    width: 154vh;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7 , .span8  {
    height: 21.5vh;
    opacity: 0;
    position: absolute;
    width: 23.5vh;
}

.span2 {
    left: 17%;
}

.span3 {
    left: 34%;
}

.span4 {
    left: 51%;
}

.span5 {
    left: 68%;
}

.span6 {
    left: 85%;
}

.span7 {
    top: 34%;
}

.span8 {
    top: 34%;
    left: 17%;
}

.span1:hover, .span2:hover, .span3:hover, .span4:hover,
.span5:hover , .span6:hover, .span7:hover, .span8:hover {
    
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    color: rgb(235, 235, 235);
    display: grid;
    padding-top: 11%;
    opacity: 1;
    padding-bottom: 1vh;
    text-align: center;
    transition-duration: 0.4s;
    transition-delay: 0.2s;
    
}

a:link {
    color: #f69c55;
}

.btn__closeModal {
    background: url(images/close.png) no-repeat;
    background-color: rgb(235, 235, 235);
    background-position:center;
    background-size: 15px 15px;
    border: 2px solid #f69c55;
    border-radius: 30px;
    display: none;
    height: 5vh;
    left: 93%;
    position: relative;
    transition-duration: 0.4s;
    transition-delay: 0.2s;
    top: -14.3%;
    width: 5vh;
}

.btn__closeModal:hover {
    box-shadow: 2.5px 2.5px 2.5px 0px rgba(0,0,0,0.25);
    cursor: pointer;
    color: #f69c55;
    transform: scale(1.1);
}

.helpCat-foodText {
    animation: bounceText .5s ease infinite alternate;
    background-color: rgb(235, 235, 235);
    border: 2px solid #f69c55;
    border-radius: 30px;
    display: none;
    font-size: 1.1rem;
    height: 9vh;
    left: 66%;
    padding: 1rem 1rem;
    position: absolute;
    top: 65%;
    width: 65vh;
}

.helpCat__moveOn {
    display: grid;
}

.hidden {
    display: none;
}

.purrText {
    max-width: 10%;
    position: absolute;
    transform: rotate(-35deg);
    top: 65%;
    left: 57%;
}

/* Section 3*/
.bedRoom {
    /*animation-fill-mode: forwards;*/
    height: 100vh;
    width: 192vh;
    background: url(images/bedRoom2.png) no-repeat;
    background-size: 100% 100%;
}

@keyframes walk {
    0% {background: url(images/bedroomOrderBook.png) no-repeat; background-size: 100% 110%;}
    33% {background: url(images/bedroomOrderBook2.png) no-repeat; background-size: 100% 115%;}
    66% {background: url(images/bedroomOrderBook3.png) no-repeat; background-size: 100% 120%;}
    100% {background: url(images/bedroomOrderBook4.png) no-repeat; background-size: 100% 100%;}
}

.thanks {
    opacity: 0;
    position: absolute;
    left: 135vh;
    font-size: clamp(1.07rem, 1.01rem + 1.29vw, 1.93rem);
    top:80vh;
}

.thanks:hover {
    display: none;
    opacity: 100%;
}

.toyMouse {
    background: url(images/toyMouse.png) no-repeat;
    background-size: 2.5rem 2.5rem;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 150vh;
    height: 2.5rem;
    top:73vh;
    width: 2.5rem;
}

@keyframes mouseMove {
    0% {left: 150vh; top: 73vh;transform: skewY(5deg);}
    30% {left: 115vh; top: 92vh;transform: scaleX(1.1);}
    33% {left: 115vh; top: 92vh;;transform: scaleX(-1);}
    60% {left: 185vh; top: 92vh;transform: scaleX(-1.1);}
    66% {left: 185vh; top: 92vh;transform: scaleX(1);}
    100% {left: 150vh; top: 73vh;}
}

.pointer3 {
    display: none;
    left: 23%;
}

.messyBooks {
    display: none;
    height: 9rem;
    left: 18%;
    position: absolute;
    top: 25vh;
    width: 9rem;
}

.messyBooks:hover {
    background-color: rgba(235, 235, 235, .10);
    cursor: pointer;
}

.pet {
    display: none;
    height: 18rem;
    left: 15vh;
    position: absolute;
    top: 42vh;
    width: 25rem;
}

.pet:hover {
    background-color: rgba(235, 235, 235, .10);
    cursor: pointer;
}

.monitor {
    background: url(images/monitorBackground.jpg) center;
    background-size: 100% 100%;
    display: none;
    height: 25.5rem;
    left: 80vh;
    padding-top: 2rem;
    position: absolute;
    top: 14.5vh;
    width: 47.5rem;
}

.titleProyect {
    
    background-color: #f69c55;
    border-radius: 15px;
    color: #f2f2f2;
    font-weight: 700;
    left: 22vw;
    padding: .5vh 1.5vh;
    position: absolute;
    top: .25rem;
    width: 6.25rem;
}

.previous {
    height: 4.5vh;
    margin-left: 5vh;
    position: absolute;
    top: -15vh;
    width: 4.5vh;
}

.goOn {
    background: url(images/goOn.png) no-repeat;
    background-color: rgb(235, 235, 235);
    background-position:center;
    background-size: 15px 15px;
    border: 2px solid #f69c55;
    border-radius: 30px;
    height: 4.5vh;
    margin-left: 90.5vh;
    position: absolute;
    transition: 300ms ease-in-out;
    top: 2vh;
    width: 4.5vh;
}

/* Monitor proyects */

.monitorFigure {
    height: 21rem;
    margin: auto;
    width: 44rem;
    position: relative;
}

.front {
    transform: perspective( 2000px ) rotateY( 0deg );
    transition: all .3s linear;
    position: relative;
    backface-visibility: hidden;
}

.back {
    transform: perspective( 2000px ) rotateY( 180deg );
    transition: all .3s linear;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    background: rgb(235, 235, 235);
    border-radius: 5px;
    backface-visibility: hidden;
}

.back__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    background: #f1f1f1;
    border-bottom: 1px solid #f69c55;
    border-radius: 5px 5px 0 0;
    padding: 0 40px;
}

.back__header button {
    margin: auto 0;
}

.back p {
    padding: 0 40px 40px 40px;
}

.monitorFigure .image {
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0,0,0,.2);
}

.monitorFigure img {
    display: block;
    width: 100%;
    border-radius: 2px;
}

.monitorFigcaption {
    padding: 10px 20px;
    background: #fff;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    position: absolute;
    bottom: 0;
    right: 5%;
    left: 40%;
    transition: 0.2s all linear 0s;
}

.monitorFigure h4 {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.monitorFigure h4 b {
    align-self: start;
    color: #444;
    margin-left: 20px;
    line-height: 20px;
}

.monitorFigure .details {
    height: 0;
    overflow: hidden;
    transition: 0.2s all linear 0s;
}

.monitorFigure p {
    margin: 0;
    color: #777;
}

.monitorFigure button {
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    color: #fff;
    padding: .5rem 1rem;
}

.monitorFigure button i {
    margin-left: 1rem;
}


#show-back {
    display: block;
    margin-top: 10px;
    background: #33ad11;
}

#show-front {
    margin-top: auto;
    background: #444;
}

.minus {
    height: 1rem;
    width: 1rem;
}

/* Contact */
.backgroundForm {
    background: url(images/leftBackground.svg);
    height: 100vh;
    width: 100vw;
}

.contact {
    background: linear-gradient(90deg, rgba(221,219,27,1) 0%, rgba(187,219,50,1) 15%, rgba(175,219,57,1) 100%);
    border-radius: .8rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: none;
    height: 70vh;
    left: 22.5vw;
    padding-top: .9rem;
    position: absolute;
    top: 15vh;
    width: 60vw;
}

.contact__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0 1vw;
}

.legend {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    padding: 0 2vw;
}

.form__button {
    display: inline;
    transform: translate(-50%, -50%);
    margin: 0% 32.75%;
}

.form__button-effect {
    position: relative;
    width: 20rem;
    font-family: Helvetica;
    font-weight: bold;
    background-color: #000000;
    color: #fdfdfd;
    text-align: center;
    line-height: 3rem;
    z-index: 3;
    cursor: pointer;
    margin-top: 4vh;
}

.form__button-effect:before, .form__button-effect:after {
    display: block;
    content: ' ';
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.form__button-effect:before {
    top: -0.125rem;
    left: -0.1rem; 
}

.form__button-effect:after {
    bottom: -0.125rem;
    right: -.1rem; 
}

.form__button-effect.lines:hover:before {
    width: 20rem;
    height: 100%;
    opacity: 1;
    border-top: 0.25rem solid #8d0606;
    border-right: 0.25rem solid #8d0606;
    transition: width 150ms cubic-bezier(0.07, 0.62, 0.61, 1), height 75ms 150ms cubic-bezier(0.07, 0.62, 0.61, 1);
}

.form__button-effect.lines:hover:after {
    width: 20rem;
    height: 100%;
    opacity: 1;
    border-bottom: 0.25rem solid #8d0606;
    border-left: 0.25rem solid #8d0606;
    transition: width 150ms 225ms cubic-bezier(0.07, 0.62, 0.61, 1), height 75ms 450ms cubic-bezier(0.07, 0.62, 0.61, 1), border-left 0ms 225ms linear;
}

.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1rem;
    padding: 0 3vw;
    position: relative;
}

.form__input {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 1.25rem;
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;

}

.form__input::placeholder {
    visibility: hidden;
    color: #00000000;
    
}

.form__input:focus {
    outline: none;
}

.form__label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: 1rem;
    padding: 0 3vw;
    transition: all 0.25s;
}

#message {
    min-height: 3.2rem;
    resize: vertical;
    height: 9rem;
    
}

.form__input:not(:placeholder-shown) + .form__label,
.form__input:focus + .form__label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
    
}

.form__error--invalid {
    margin-bottom: 0.5rem;
}

.form__error {
    display: none;
}

.form__error--invalid .form__error {
    color: #8d0606;
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.btn__goBackForm {
    display: none;
    left: 10vw;
    position: absolute;
}

/* MQ */
@media screen and (max-width: 780px) and (orientation: portrait) {
    .wrapper {
        display: none;
    }
    .smartPhone-container {
        display: block;
        text-align: center;
    }

    .smartPhone {
        font-size: 2rem;
        height: 100vh;
        padding: 20vh 5vw;
        width: 100vw;
    }
}

@media screen and (max-width: 875px) and (orientation: landscape) {
    .wrapper {
        height: calc(100vh - 1rem);
        width: 100vw;
    }
    
    .left {
        min-width: 4.2vw;
    }

    .left__cv, .left__mail, .left__linkedin, .left__github{
        height: 7.5vh;
        margin: 8vh .1rem;
        width: 4vw;
    }

    .middle {
        width: 28vw;
    }

    .aboutMe {
        padding-top: .25rem;
        padding-left: .5rem;
    }

    .aboutMe__myName, .aboutMe__position, .aboutMe__text-top {
        font-size: 1.3rem;
        width: 28vw;
    }

    .aboutMe__line {
        border-bottom: .1rem solid rgba(187,219,50,1);
        margin-bottom: 0rem;
        width: 25vw;
    }

    .aboutMe__phrase, .aboutMe__activities {
        font-size: .8rem;
        padding-top: .3rem;
        width: 28vw;
    }
    /* Buena idea dejar paddin entre la frase escondida*/

    .right {
        background:  url(images/houseOutside.png) no-repeat;
        background-size: 70.5vh 34.8vw;
        background-size: 42.5vw 70.5vh;
        background-position: right;
        height: 61.95vh;
        width: 35.5vw;
    }
    
    .wind--A, .wind--B {
        background-size: 17%;
        height: 1rem;
        width: 20vw;
    }

    @keyframes breeze--A {
        0%  {left: 20vh; opacity: 100%;}
        100% {left: 83vh; opacity: 100%;}
    }

    @keyframes breeze--B {
        0%  {left: 25vh; top: 5vh;opacity: 100%;}
        100% {left: 85vh; top: 5vh;opacity: 100%;}
    }
    
    .bigLeave, .smallLeave-fall, .smallLeave-fall--B {
        height: 1rem;
        width: 10vw;
    }

    .bigLeave {
        background-size: 25%;
    }
    
    @keyframes bigLeave {
        0%  {left: 29%; top: 30vh;opacity: 100%;transform: rotateZ(180deg);}
        50% {left: 40%; top: 35vh;opacity: 100%;transform: rotateZ(-180deg);}
        100% {left: 58%; top: 37vh;opacity: 100%;transform: rotateZ(-360deg);}
    }
    
    .smallLeave-fall {
        background-size: 18%;
    }
    
    @keyframes smallLeaveFall {
        0%  {left: 40vh; top: 0vh;opacity: 100%;transform:perspective(300rem) rotateY(1deg);}
        100% {left: 80vh; top: 60vh;opacity: 100%;transform:perspective(150rem) rotateY(75deg);}
    }
    
    .smallLeave-fall--B {
        background-size: 18%;
    }
    
    @keyframes smallLeaveFallB {
        0%  {left: 40vh; top: 0vh;opacity: 100%;}
        100%  {left: 100vh; top: 50vh;opacity: 100%;transform: rotate(360deg);}
    }
    
    .meowText {
    max-width: 7%;
    top: 26vh;
    left: 51vw;
    }

    .helpCat {
    border: 1px solid #f69c55;
    font-size: .6rem;
    height: 7.75vh;
    justify-content: center;
    margin: 0 auto;
    margin-top: 52vh;
    width: 50vh;
    }
    
/*
@keyframes bounceText {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-1.5vh); }
    100% { transform: translateY(0); }
}

.helpCat:hover {
    cursor: pointer;
}

.helpCat__text--hidden {
    display: none;
}

.helpCat__text, .helpCat__text--hidden{
    margin: auto 0;
    text-align: center;
    user-select: none;
}

.highlightText:hover{
    cursor: pointer;
    color: #f69c55;
    
}

.helpCat__fakeDoor {
    display: none;
    height: 22rem;
    left: 77%;
    position: absolute;
    top: 20vh;
    width: 10rem;
}

.helpCat__fakeDoor:hover {
    background-color: rgba(235, 235, 235, .10);
    cursor: pointer;
}

.section-A--cat {
    background: url(images/cat1.png) no-repeat;
    background-size: contain;
    display: none;
    height: 15vh;
    left: 72%;
    position: absolute;
    top: 54%;
    transform: rotate(-7deg);
    width: 22vh;
}

.section-A--cat2 {
    background: url(images/cat3.png) no-repeat;
    background-size: contain;
    display: none;
    height: 15vh;
    left: 73%;
    position: absolute;
    top: 52%;
    transform: rotate(-6deg);
    width: 22vh;
}
*/
}
